<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 미션3. 이 똑~~같은걸 REST-API로 CSR로 재개발해보기 -->
     
    <h1>상점 리스트</h1>
    <!-- 미션2. Name 검색을 위한 폼추가 -->
    <!-- 폼과 입력값을 넣고 / 를 다시 불러서 그 검색 내용만 출력되게... 
          '홍대' 를 넣으면 *홍대* 이런 형태로 검색해서 목록 표시하기
          GET방식으로, 쿼리파라미터로 보내기 -->

    <!-- <form method="GET" action="/"> -->
    <form>
        <input type="text" name="name" value="{{ search }}" placeholder="검색할 이름을 입력하시오">
        <button type="submit">검색</button>
    </form>
    <br>
    <table border=1>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Address</th>
        </tr>
        {% for store in stores %}
        <tr>
            <td>{{ store.Id }}</td>
            <td>{{ store.Name }}</td>
            <td>{{ store.Type }}</td>
            <td>{{ store.Address }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>