<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map</title>
    <!-- Including Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Including Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map {
            height: 500px; /* Set the height of the map */
        }
    </style>
</head>
<body>
    <h1>Leaflet Map Example</h1>
    <!-- Placeholder for the map -->
    <div id="map"></div>

    <script>
        // Initialize the map and set its view to our chosen geographical coordinates and a zoom level
        var map = L.map('map').setView([37.5665, 126.9780], 13);

        // Load and display tile layers on the map (OpenStreetMap tiles)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var seoulData = {{ seoul_pops | tojson | safe }};

        console.log(seoulData);

        for (let i = 0; i < seoulData.length; i++) {
            var population = parseInt(seoulData[i].population);
            var radius = calculateMarkerRadius(population); // 인구수에 따라서 크기 계산

            var marker = L.circleMarker([seoulData[i].latitude, seoulData[i].longitude], {
                radius: radius,
                fillColor: 'red',
                color: 'purple',
                weight: 1,
                fillOpacity: 0.5
            }).addTo(map);

            marker.bindTooltip(seoulData[i].district, {
                permanent: true,
                direction: 'center',
                className: 'marker-label'
            });

            marker.bindPopup('<b>' + seoulData[i].district + '</b><br>인구: '+ seoulData[i].population);
        }

        function calculateMarkerRadius(population) {
            var minPopulation = 100_000;
            var maxPopulation = 500_000;

            var minRadius = 20;
            var maxRadius = 100;

            var radius = minRadius + ((population - minPopulation) / (maxPopulation - minPopulation) * (maxRadius - minRadius))

            return radius;
        }
    </script>
</body>
</html>

